.validButton {
    padding: 10px;
    display: block;
    font-size: 17px;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 5px;
}

.toggleButton {
    margin: 0 3px;
    padding: 4px 7px;
    font-size: 18px;
    color: #fff;
    background-color: grey;
    border: none;
    border-radius: 3px;
}

.colorGrey {
    color: grey;
}

.colorBlack {
    color: #000;
}

.colorGreen {
    color: green;
}

.colorRed {
    color: red;
}

.noLink {
    color: #fff;
    text-decoration: none;
}

.noDecoration {
    list-style-type: none;
}