.title2 {
    font-weight: 500;
    font-size: 20px;
}

/***** Buttons *****/
.blueButton {
    padding: 10px;
    display: block;
    font-size: 17px;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 5px;
}

.greyButton {
    margin: 0 3px;
    padding: 4px 7px;
    font-size: 18px;
    color: #fff;
    background-color: grey;
    border: none;
    border-radius: 3px;
}

/***** Colors *****/
.colorWhite {
    color: #fff;
}

.colorGrey {
    color: grey;
}

.colorBlack {
    color: #000;
}

.colorGreen {
    color: green;
}

.colorRed {
    color: red;
}


/***** Decoration *****/
.noLink {
    text-decoration: none;
}

.noDecoration {
    list-style-type: none;
}

/***** Font Style *****/ 
.fs22 {
    font-size: 22px;
}

.textCenter {
    text-align: center;
}

/***** Containers *****/
.flexDisplay {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
}

.borderSquare {
    padding: 10px;
    width: 150px;
    background-color: #fff;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}