.validButton {
    padding: 10px;
    display: block;
    font-size: 17px;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 5px;
}

.colorGrey {
    color: grey;
}

.colorBlack {
    color: #000;
}

.colorGreen {
    color: green;
}

.colorRed {
    color: red;
}